<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      
    </configSections>
    <connectionStrings>
        <add name="Tax.Automation.UI.Properties.Settings.PropertyTaxConnectionString"
            connectionString="Data Source=.;Initial Catalog=PropertyTax_2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Tax.Automation.UI.Properties.Settings.PropertyTax_2ConnectionString"
            connectionString="Data Source=.;Initial Catalog=PropertyTax_2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
